services:

  snippet-box:
    image: pawelmalak/snippet-box:latest
    container_name: snippet-box
    volumes:
      - ./app/data:/app/data
    ports:
      - "8200:5000"
    restart: unless-stopped
    
